# MCUXpresso / Eclipse
Debug/
Release/
.metadata/
.idea/
.vscode/
*.launch

# Build artefacts
*.elf
*.axf
*.map
*.o
*.d
*.bin
*.hex


# Backup/Temp
*~
*.swp
*.bak
*.tmp

# User specific
*.log
*.DS_Store
